<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <div th:replace="fragments/header :: head-general"></div>
    <title>PlayDate</title>
    <div th:replace="fragments/header :: head-imports"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/groups/groups_list.css}">
</head>
<body>
  <nav th:replace="fragments/navigation :: navbar"></nav>

  <section>
      <div class="container">
          <div class="row">
              <div class="col-md-7 mt-1">
                <h4> Your groups </h4>
              </div>
              <div class="col-md-5">
                <a href="" class="btn btn-primary btn-rounded" data-toggle="modal" data-target="#modalRegisterForm">Create Group</a>
              </div>
          </div>
      </div>
  </section>

  <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Create Group</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post" th:action=@{/group/create} enctype="multipart/form-data" th:object=${groupForm}>
          <script th:inline="javascript">
            var flag = [[${not #lists.isEmpty(#fields.detailedErrors())}]];
            window.onload = function() {
                if(!flag)
                    return;
                $('#modalRegisterForm').modal('show');
            };
          </script>

          <div class="modal-body mx-3">
            <div class="form-group md-form mt-3">
              <h6>Name your group</h6>
              <input th:field="*{groupName}" type="text" class="form-control validate">
              <span th:errors="*{groupName}" class="error"></span>
            </div>
            <div class="form-group md-form mt-3">
              <h6>Description</h6>
              <textarea th:field="*{description}" cols="100" class="form-control validate"></textarea>
              <span th:errors="*{description}" class="error"></span>
            </div>
            <div class="form-group">
              <h6>Upload banner</h6>
          		<input type="file" th:field="*{image}" class="form-control" placeholder='Upload banner photo' />
            </div>
          </div>
          <div class="modal-footer">
            <div class="form-check mr-auto mx-3">
              <input class="form-check-input" th:field="*{isPrivate}" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Private
              </label>
            </div>
            <div class="d-flex">
              <button type="submit" id="bannerUpload" class="btn btn-primary">Create</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="text-center">
  </div>

  <div class="container mt-3 groups">
      <div class="row">
          <th:block th:each="group: ${groups}">
              <div class="col-md-8">
                  <div class="people-nearby">
                      <div class="nearby-user">
                          <div class="row">
                              <div class="col-md-2 col-sm-2">
                                  <img th:src="@{/groups/{group}/banner(group=${group.id})}" alt="user" class="profile-photo-lg">
                              </div>
                              <div class="col-md-10 col-sm-7">
                                  <h5><a th:href="@{/group/} + ${group.id}" class="profile-link" th:text="${group.groupName}"></a></h6>
                                  <p th:text="${group.description}"></p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
      </th:block>
    </div>
  </div>


  <div th:replace="fragments/footer :: footer-imports"></div>
  <script th:src="@{/js/groups/groups.js}"></script>
</body>

</html>
