<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <div th:replace="fragments/header :: head-general"></div>

    <title>Register</title>

    <div th:replace="fragments/header :: head-imports"></div>
    <div th:replace="fragments/header :: head-login-register-imports"></div>
</head>

<body>
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">

                <h2 class="title-register p-b-49"><a href="#" th:href="@{/login}"><i class="fa fa-chevron-circle-left"></i></a>Register</h2>
                <form action="#" th:action="@{/register}" th:object="${registerForm}" method="POST" novalidate>
                    <div class="row-register row-register-space">
                        <div class="col-2-register">
                            <div class="register-input-group">
                                <label class="label">first name</label>
                                <input class="input--style-4" type="text" th:field="*{firstName}">
                                <span th:errors="*{firstName}" class = "error"></span>
                            </div>
                        </div>
                        <div class="col-2-register">
                            <div class="register-input-group">
                                <label class="label">last name</label>
                                <input class="input--style-4" type="text" th:field="*{lastName}">
                                <span th:errors="*{lastName}" class = "error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row-register row-register-space">
                        <div class="col-2-register">
                            <div class="input-group">
                                <label class="label">Birthday</label>
                                <div class="input-group-icon register-input-group-icon">
                                    <input class="input--style-4 js-datepicker" type="text" th:field="*{birthday}">
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                </div>
                                <span th:errors="*{birthday}" class = "error"></span>
                            </div>
                        </div>
                        <div class="col-2-register">
                            <div class="register-input-group">
                                <label class="label">Gender</label>
                                <div class="p-t-10">
                                    <label class="radio-container">Female
                                        <input type="radio" checked=checked th:field="*{gender}" th:value="${T(com.playdate.enumerations.Gender).FEMALE}">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="radio-container m-r-45">Male
                                        <input type="radio" th:field="*{gender}" th:value="${T(com.playdate.enumerations.Gender).MALE}">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            <span th:errors="*{gender}" class = "error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row-register row-register-space">
                        <div class="col-2-register">
                            <div class="register-input-group">
                                <label class="label">Email</label>
                                <input class="input--style-4" type="email" th:field="*{email}">
                            <span th:errors="*{email}" class = "error"></span>
                            </div>
                        </div>
                        <div class="col-2-register">
                            <div class="register-input-group">
                                <label class="label">Username</label>
                                <input class="input--style-4" type="text" th:field="*{username}">
                            <span th:errors="*{username}" class = "error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row-register row-register-space">
                        <div class="col-2-register">
                            <div class="register-input-group">
                                <label class="label">Password</label>
                                <input class="input--style-4" type="password" th:field="*{password}">
                            <span th:errors="*{password}" class = "error"></span>
                            </div>
                        </div>
                        <div class="col-2-register">
                            <div class="register-input-group">
                                <label class="label">Confirm password</label>
                                <input class="input--style-4" type="password" th:field="*{confirmPassword}">
                            <span th:errors="*{confirmPassword}" class = "error"></span>
                            </div>
                        </div>
                    </div>
                    <div th:if="${param.success}" class="alert alert-success">
                        Registration successful
                    </div>
                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--pink" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer-imports"></div>

<!-- Vendor JS-->
<script th:src="@{/vendor/select2/select2.min.js}" src="../static/vendor/select2/select2.min.js"></script>
<script th:src="@{/vendor/datepicker/moment.min.js}" src="../static/vendor/datepicker/moment.min.js"></script>
<script th:src="@{/vendor/datepicker/daterangepicker.js}" src="../static/vendor/datepicker/daterangepicker.js"></script>

<script th:src="@{/js/registration/register.js}" src="../static/js/registration/register.js"></script>
</body>

</html>