<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="text-center">
    <h1>Edit profile</h1>
</div>

<div>
  <br>
</div>
<form>
    <div class="container">
     <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1Gevu4Tk803Ydc4VywH_ANoJSf3B6rnuI64IChMJSdw9qfR7s" class="img-thumbnail" alt="profilepic">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-dark">Upload new photo</button>
                </div>
            </div>

            <div class="col-sm-7">
                <div class="form-group">
                 <label for="info">About me:</label>
                    <textarea class="form-control" rows="5" id="info"></textarea>
                </div>

                <div class="form-group row">
                    <label for="firstname" class="col-sm-2 col-form-label">First name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="firstname">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lastname" class="col-sm-2 col-form-label">Last name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="lastname">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="mobile" class="col-sm-2 col-form-label">Mobile phone:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="mobile">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">Email:</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="children" class="col-sm-2 col-form-label">Number of children:</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="children">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="age" class="col-sm-2 col-form-label">Age:</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="age">
                    </div>
                </div>
                <fieldset class="form-group">
                    <div class="row">
                        <label class="col-form-label col-sm-2 pt-0">Sex:</label>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                <label class="form-check-label" for="gridRadios1">
                                    M
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                <label class="form-check-label" for="gridRadios2">
                                    F
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group row">
                    <label for="location" class="col-sm-2 col-form-label">Location:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="location">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="post" class="col-sm-2 col-form-label">Zip code:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="post">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="street" class="col-sm-2 col-form-label">Street:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="street">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="country" class="col-sm-2 col-form-label">Country:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="country">
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-dark">Save</button>
                    <button type="button" class="btn btn-dark">Back</button>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>
