.create-post-container {
    padding-top: 85px;
}

.user-img {
    width: 24px;
    display: inline-block;
    vertical-align: top;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: #f6f6f6;
    min-width: 330px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.user-img {
    width: 24px;
    display: inline-block;
    vertical-align: top;
}


.badge{
    position:relative;
    top: -12px;
    left: -10px;
}

.dropdown-item.dropdown-notification:active, .dropdown-item.dropdown-notification.active {
    color: #1d1e1f;
    text-decoration: none;
    background-color: #f7f7f9;
}

.dropdown-notification:hover .notification-read {
    color: #34495E;
}

.dropdown-menu {
    min-width: 450px;
}

.dropdown-notification-all {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-style: oblique;
    background-color: #34495E;
    color: white;
}

.dropdown-notification-all:hover {
    background-color: #34495E;
    color: white;
}

.notifications-container {
    max-height: 300px;
    overflow: auto;
}

.notification-dropdown-menu {
    padding-bottom: 0;
    min-width: 528px;
}

.notification-img {
    width: 48px;
    display: inline-block;
    vertical-align: top;
}

.notifications-body {
    display: inline-block;
}

.notification-text {
    text-align: left;
    margin: 0;
}

.notification-read {
    margin: 0;
    height: 48px;
    vertical-align: top;
    line-height: 48px;
    padding-left: 15px;
    color: white;
    float: right;
}

.notification-date {
    text-align: left;
    color: #2980b9;
    margin: 0;
}

.notification-solo {
    margin-top: 1rem;
}

.notification-unread {
    text-decoration: none;
    background-color: #f7f7f9;
}

.icon-button {
    padding-top:10px;
    color: white;
    cursor: pointer;
    background-color:transparent;
    border:none;
}

.navbar {
    background-color: #ff337d;
}


html, body, .sidebar-nav, .content-posts {
    height: calc(100% - 22px);
    width: calc(100% - 8px);
}

body {
    background: #edf1f5;
    font-family: Poppins, sans-serif;
}

a, a:link, a:visited, a:focus {
    color: #404040;
    text-decoration: none;
}

b, strong {
    font-weight: 600;
}

h1, h2, h3 { font-weight: 600; }

h2 {  font-size:22px; }

h3 { font-size: 15px;
    margin-top:0;
    margin-bottom:5px;}

video, img {
    width: 100%;
    height: auto;
}

.emoji  { width:16px;}

.btn:focus,.btn:active, .btn:active:focus  { outline:none; }

/*.content-posts {*/
    /*margin-left: 240px;*/
    /*margin-top: 65px;*/
/*}*/

.img-user {
    width: 90%;
    margin-left: 5%;
}

.card-post .img-user  { max-width: 110px;
    min-width: 60px;}

.card-post .chat-row .img-user { min-width:inherit; }

.img-user-mini {
    width: 30px;
    height: 30px;
}

.popular-img {
    margin-top:10px;
}

/*.circular--landscape {*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*width: 100px;*/
    /*height: 100px;*/
    /*overflow: hidden;*/
    /*border-radius: 50%;*/
/*}*/

.profile-userpic img {
    object-fit: cover;
    display:block;
    margin:auto;
    width: 200px;
    height: 200px;
    border: solid 1px lightgray;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}
.profile-userpic {
    position: relative;
    width: 100%;
    display: inline-block; /* added */
    overflow: hidden; /* added */
}

.clickable {
    cursor: pointer;
}

.hoverable {
    opacity: 0.1;
}

.hoverable:hover {
    opacity: 1;
    cursor: pointer;
}

.profile-userpic:hover a {
    opacity: 0.6; /* added */
    top: 0; /* added */
    z-index: 500;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

/* added */
.profile-userpic a {
    display: block;
    position: absolute;
    top: -100%;
    opacity: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    color: inherit;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

/* added */
.profile-userpic:hover a div {
    background-color: #4c4c4c;
    top: 50%;
    width: 195px;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.playdate-modal-header {
    background-color: #fff !important;
    color: #000 !important;
}

.btn, .btn-primary {
    background-color: #ff68a2 !important;
    border-color: #ff68a2 !important;
}

.btn:hover, .btn-primary:hover{
    background-color: #ff337d !important;
    border-color: #ff337d !important;
}

.hideable {
    visibility: hidden;
}

.removed {
    display: none;
}

/*.playdate-alert {*/
    /*background-color: #ff85bb;*/
    /*color: white;*/
/*}*/

#filter-div {
    background-color: white;
    padding: 10px 10px 10px 10px;
}

.playdate-btn-href {
    color: white !important;
}