<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="footer-navigation" th:remove="tag">
    <div th:replace="fragments/create_post :: post_modal"></div>
</div>
<div th:fragment="footer-imports" th:remove="tag">

    <!-- JQuery and Popper -->
    <script th:src="@{https://code.jquery.com/jquery-3.3.1.min.js}" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js}"></script>

    <script th:src="@{/vendor/underscore/underscore-min.js}"></script>
    <!-- Project specific JS -->
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/post/create_post.js}"></script>
</div>
</body>
</html>