<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" th:with="currentUserUsername = ${#authentication.getPrincipal().getUsername()}">
        <!--<div class="container">-->
        <a class="navbar-brand" href="/">
            <!--<img class="d-none d-lg-inline-block"-->
            <!--width="40"-->
            <!--height="30"-->
            <!--alt="Brand"-->
            <!--th:src="@{/img/favicon.ico}">-->
            PlayDate
        </a>

        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <form class="form-inline ml-lg-5 my-auto" style="color: #ffffff">
                        <input class="form-control mr-3" style="width: 280px" id="search-box"
                               type="text" placeholder="Search" aria-label="Search" autocomplete="off">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </form>

                    <div class="ml-lg-5 my-auto">
                        <div class="dropdown-content pre-scrollable" id="dropdown"></div>
                    </div>
                </li>
            </ul>


            <ul class="navbar-nav w-50 ml-auto my-1">
                <ul class="navbar-nav ml-auto my-1 mr-1">
                    <li class="nav-item mr-lg-4">
                        <a class="nav-link d-none d-lg-block clickable"  onclick="showCreateNewPost();"
                           title="Create Post">
                            <i class="fa fa-edit fa-lg mt-1"></i>
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto my-1">
                    <li class="nav-item mr-lg-4">
                        <a class="nav-link d-none d-lg-block" href="#" th:href="@{/calendar}" title="Calendar">
                            <i class="fa fa-calendar-alt fa-lg mt-1"></i>
                        </a>
                    </li>

                    <li class="nav-item mr-lg-4">
                        <a class="nav-link d-none d-lg-block" href="#" th:href="@{/activity}" title="Activity Map">
                            <i class="fa fa-map-marker-alt fa-lg mt-1"></i>
                        </a>
                    </li>

                    <li class="nav-item mr-lg-4">
                        <a class="nav-link d-none d-lg-block" href="#" th:href="@{/diary}" title="Diary">
                            <i class="fa fa-book-open fa-lg mt-1"></i>
                        </a>
                    </li>

                    <li class="nav-item mr-lg-4">
                        <a class="nav-link d-none d-lg-block" href="#" th:href="@{/wishlist}" title="Wish List">
                            <i class="fa fa-list fa-lg mt-1"></i>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto my-1">
                    <li class="nav-item mr-lg-4">
                        <a class="nav-link" th:href="@{/profile}"
                           title="My Profile">
                            <span class="d-lg-none">My profile</span>
                            <i class="fa fa-user fa-lg d-none d-lg-block py-1"></i>
                        </a>
                    </li>
                    <li class="nav-item mr-lg-4">
                        <a class="nav-link d-none d-lg-block" href="#"
                           th:href="@{/groups}"
                           title="My Groups">
                            <span class="d-lg-none">My Groups</span>
                            <i class="fa fa-users fa-lg d-none d-lg-block py-1"></i>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto my-1">
                    <li class="nav-item mr-lg-4">
                        <form th:action="@{/logout}" method="post">
                            <!--<button class="btn btn-outline-light d-lg-none" type="submit">-->
                            <!--Sign out-->
                            <!--</button>-->
                            <button class="icon-button nav-link" type="submit" title="Sign Out">
                                <i class="fas fa-sign-out-alt fa-lg d-none d-lg-block py-1"></i>
                            </button>
                        </form>
                    </li>
                </ul>
            </ul>
        </div>
        <!--</div>-->
    </nav>
</div>
</html>
