[Desktop Entry]
Encoding=UTF-8
Name=lab3
Type=Link
URL=http://www.zemris.fer.hr/~ssegvic/ooup/ooup3lab.shtml
Icon=text-html
Name[en_US]=Treca laboratorijska vježba iz OOUP
