.create-post-container {
    margin-top: 80px;
}

body {
    background: #F1F3FA !important;
}

.video-container {
    height: calc(100% - 22px);
    position: relative;
}

.video-container .video {
    position: absolute;
    height: calc(100% - 22px);
    width: calc(100% - 22px);
    padding-bottom: 56.25%;
    object-fit: scale-down;
}

.video-container .video video {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
}

/*#map-wrapper {*/
    /*position: relative;*/
/*}*/

#map {
    border-top: 1px solid #e5eaee;
    height: 50vh;
    position: relative;
    margin-bottom: 10px;
}

/*#map a {*/
    /*padding-bottom: 0;*/
/*}*/

.img-fit {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.img-post {
    width: 100%;
    max-height: 500px;
    object-fit: scale-down;
}

.video-post {
    width: 100%;
    height: 500px;
    /*object-fit: scale-down;*/
}

.thumb {
    margin-top: 15px;
    margin-bottom: 15px;
}

#pic, #vid {
    display: none;
}

.newbtn {
    cursor: pointer;
    width: 100%;
    height: 200px;
    border: 1px dashed #000;
}

.newbtn:hover .fa-plus {
    opacity: 1;
}

.fa-plus {
    opacity: 0.6;
}